language: node_js
node_js:
- "7"
cache: yarn
script: yarn verify
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: instructor.egghead.io
  region: us-east-1
  skip_cleanup: true
  local_dir: build
  acl: public_read
  on:
    repo: eggheadio/egghead-instructor-center
    branch: master
notifications:
  email:
    on_success: never
    on_failure: always
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: LnEL+23Jv8ts6tufKfvKoRT81c8xvEOd+ZvErqmgXPIb5HG525eudD8WaOsAF1XKxSq74JRRYp9y5jSC6/r3TDBDsRNV9sW4U/0/peLnSF/yzBII+W2JEUFe9RdLNrVSMxQRfvBesl3QlHRxOJ1Jhz4QYaPAodsTqDPUrUiW6QA=
